

.top-banner {
    height: 32px;
    overflow: hidden;
    background-color: black;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
   font-size: 12px;

}
.banner-track{
    display: flex;
    width: fit-content;
    animation: scroll 18s linear infinite;
}
.banner-track span{
    padding: 1px 24px;
    white-space: nowrap;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
body{


    background-color: rgb(241, 232, 232);
}